<!--<menusuperior></menusuperior>-->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Tarifas de Água e Esgoto
            </div>

            <div class="panel-body">
                <div>
                    <div class="col-lg-12">
                        <div class="col-md-offset-2 col-md-9">
                            <h2>Você não tem acesso a este módulo, por favor, solicite acesso ao administrador do sistema.</h2>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>