<style type="text/css">
	body {
		font-family: Helvetica Neue,Helvetica,Arial,sans-serif !important;
		font-size: 12px !important;
	}
</style>

<div id="page-wrapper" ng-class="{'open': toggle}" ng-cloak>

	<!-- Sidebar -->
	<div id="sidebar-wrapper">
		<ul class="sidebar">
			<li class="sidebar-main">
				<a ng-click="toggleSidebar()">
					AESBE
					<span class="menu-icon glyphicon glyphicon-transfer" style="cursor: pointer"></span>
				</a>
			</li>
			<li class="sidebar-list" data-ng-repeat="itemMenu in menuModulo()">
				<a ng-click="ativarMenuSuperior(itemMenu.idModulo, itemMenu.noModuloVisivel)" ui-sref="{{itemMenu.dsUri}}">{{itemMenu.noModuloVisivel}}
					<span class="menu-icon fa {{itemMenu.dsIcon}}"></span>
				</a>
			</li>
			<li class="sidebar-list">
				<a ui-sref="tarifas.principal">Tarifas
					<span class="menu-icon fa fa-paypal"></span>
				</a>
			</li>
			<!--<li class="sidebar-list">-->
				<!--<a ui-sref="bancoPreco.propostaMaterialPrincipal">SIC-->
					<!--<span class="menu-icon fa fa-search"></span>-->
				<!--</a>-->
			<!--</li>-->
			<!--<li class="sidebar-list">-->
				<!--<a ui-sref="bancoPreco.propostaMaterialPrincipal">SICOF-->
					<!--<span class="menu-icon fa fa-amazon"></span>-->
				<!--</a>-->
			<!--</li>-->
			<!--<li class="sidebar-list">-->
				<!--<a ui-sref="bancoPreco.propostaMaterialPrincipal">Tarifas-->
					<!--<span class="menu-icon fa fa-anchor"></span>-->
				<!--</a>-->
			<!--</li>-->
			<!--<li class="sidebar-list">-->
				<!--<a ui-sref="tesouraria.registroCaixaPrincipal">Relatórios-->
					<!--<span class="menu-icon fa fa-tachometer"></span>-->
				<!--</a>-->
			<!--</li>-->
			<!--<li class="sidebar-list">-->
				<!--<a href="#/login">Login <span class="menu-icon fa fa-table"></span></a>-->
			<!--</li>-->
		</ul>
		<!--<div class="sidebar-footer">-->
			<!--<div class="col-xs-4">-->
				<!--<a href="https://github.com/rdash/rdash-angular" target="_blank">-->
					<!--Github-->
				<!--</a>-->
			<!--</div>-->
			<!--<div class="col-xs-4">-->
				<!--<a href="https://github.com/rdash/rdash-angular/blob/master/README.md" target="_blank">-->
					<!--About-->
				<!--</a>-->
			<!--</div>-->
			<!--<div class="col-xs-4">-->
				<!--<a href="#">-->
					<!--Support-->
				<!--</a>-->
			<!--</div>-->
		<!--</div>-->
	</div>
	<!-- End Sidebar -->

	<div id="content-wrapper">
		<div class="page-content">

			<div class="col-xs-6">
				<div class="user pull-left" style="margin-top: 15px;">
					<h4><i class="fa {{dsIconAtivo()}}"></i> {{dsModuloAtivo()}}</h4>
				</div>
			</div>

			<!-- Header Bar -->
			<div class="row header">
				<div class="col-xs-6">
					<div class="user pull-right">
						<div class="item dropdown" uib-dropdown>
							<a href="#" class="dropdown-toggle" uib-dropdown-toggle>
								<img src="img/avatar.jpg">
							</a>
							<ul class="dropdown-menu dropdown-menu-right">
								<li class="dropdown-header">
									{{dadosSessao.nome}}
								</li>
								<li class="dropdown-header">
									{{dadosSessao.perfil}}
								</li>
								<li class="divider"></li>
								<li class="link">
									<a href="#" ng-click="logout()">
										Logout
									</a>
								</li>
							</ul>
						</div>
						<div class="item dropdown" uib-dropdown>
							<ul class="dropdown-menu dropdown-menu-right">
								<li class="dropdown-header">
									Notifications
								</li>
								<li class="divider"></li>
								<li>
									<a href="#">Server Down!</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="meta">
						<div class="page">
							<!--{{dsModuloAtivo()}}-->
						</div>
						<!--<div class="breadcrumb-links">-->
							<!--Home / Dashboard-->
						<!--</div>-->
					</div>
				</div>
			</div>
			<!-- End Header Bar -->

			<!-- Main Content -->
			<!--<div class="col-lg-12" style="margin-bottom: 2%">-->
				<!--<div class="btn-group" uib-dropdown is-open="status.isopen">-->
					<!--<button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">-->
						<!--Button dropdown <span class="caret"></span>-->
					<!--</button>-->
					<!--<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">-->
						<!--<li role="menuitem"><a href="#">Action</a></li>-->
						<!--<li role="menuitem"><a href="#">Another action</a></li>-->
						<!--<li role="menuitem"><a href="#">Something else here</a></li>-->
						<!--<li class="divider"></li>-->
						<!--<li role="menuitem"><a href="#">Separated link</a></li>-->
					<!--</ul>-->
				<!--</div>-->
			<!--</div>-->
			<div inform class="inform-fixed"></div>
			<div ui-view name="banco-preco-principal"></div>
			<div ui-view name="proposta-material"></div>
			<div ui-view name="registro-caixa-principal"></div>
			<div ui-view name="registro-caixa-formulario"></div>

		</div><!-- End Page Content -->
	</div><!-- End Content Wrapper -->
</div><!-- End Page Wrapper -->