<style type="text/css">
    footer{
        padding-top:7px;
        border-top:1px solid #DDDDDD;
        line-height: 2px;
        font-size: 7pt;
        text-align: center;
        width:100%;
        background-color: #F8F8F8;
        position: relative;
        margin-top: -150px;
        position:fixed;

        bottom:0px;
    }


    footer address{
        margin: 0;
    }
    footer p{
        margin-bottom: 7px;
    }
    small {
        display: none;
    }
    .loginSistema {
        display: block !important;
    }
</style>
<html>
<div inform class="inform-fixed"></div>
<nav role="navigation" class="navbar navbar-default">
    <div class="navbar-header">
        <a href="http://www.aesbe.org.br" title="Associação Brasileira das Empresas Estaduais de Saneamento" target="_blank" class="navbar-brand">
            AESBE
        </a>
    </div>
</nav>
<div class="row" style="margin-top: 15%;">
    <div class="col-md-6 col-md-offset-3">
        <div class="login-panel panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Entrar</h3>
            </div>
            <div class="panel-body">
                <form method="post" name="login" id="login" ng-submit="logar(login)" novalidate="novalidate">
                    <div class='form-group'>
                        <div class="form-group" >
                            <!--<input name="noLogin" ng-model="login.username" placeholder="Usuário" required="required" maxlength="45" class="form-control" autofocus="autofocus" type="text" ui-br-cpfcnpj-mask>-->
                            <input name="noLogin" ng-model="login.username" placeholder="E-mail" required="required" maxlength="45" class="form-control" autofocus="autofocus" type="email">
                        </div>
                    </div>
                    <div class='form-group'>
                        <div class="form-group" >
                            <input name="noSenha" required="required" ng-model="login.password" placeholder="Senha" class="form-control" type="password">
                        </div>
                    </div>
                    <div class='form-group'>
                        <div class="form-group" >
                            <input name="submit" ng-disabled="login.$invalid" class="btn btn-lg btn-primary btn-block" type="submit" value="Login">
                        </div>
                    </div>
                    <a ui-sref="primeiroAcesso">Este é meu Primeiro Acesso</a>
                </form>
                <div class="row">
                    <div class="col-md-12">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer role="contentinfo">
    <p>&copy;2016 - AESBE - Associação Brasileira das Empresas Estaduais de Saneamento&reg;</p>
    <address>SCS - Quadra 01 - Bloco H - Edifício Morro Vermelho - 8º andar - CEP: 70399-900 - Brasília-DF - Tel/Fax.: 55 61 3022-9600</address>
</footer>
</html>