<style type="text/css">
    footer {
        padding-top: 7px;
        border-top: 1px solid #DDDDDD;
        line-height: 2px;
        font-size: 7pt;
        text-align: center;
        width: 100%;
        background-color: #F8F8F8;
        position: relative;
        margin-top: -150px;
        position: fixed;

        bottom: 0px;
    }

    footer address {
        margin: 0;
    }

    footer p {
        margin-bottom: 7px;
    }

    .paddingLef {
        padding-left: 15px;
        padding-right: 15px;
    }
</style>
<html>
<div inform class="inform-fixed"></div>
<nav role="navigation" class="navbar navbar-default navbar-static-top">
    <div class="navbar-header">
        <a href="http://www.aesbe.org.br" title="Associação Brasileira das Empresas Estaduais de Saneamento"
           target="_blank" class="navbar-brand">
            AESBE
        </a>
    </div>
</nav>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="login-panel panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Primeiro Acesso</h3>
            </div>
            <div class="panel-body">
                <form method="post" name="primeiroAcesso" id="primeiroAcesso" ng-submit="solicitarPrimeiroAcesso(acesso)"
                      novalidate="novalidate">
                    <div class="form-group paddingLef">
                        <label class="required-label">Nome</label>
                        <div class="form-group">
                            <input name="noPessoa" required="required" ng-model="acesso.noPessoa" placeholder="Nome"
                                   class="form-control" type="text">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="required-label">Email</label>
                            <div class="form-group">
                                <input name="dsEmail" required="required" ng-model="acesso.dsEmail" placeholder="Email"
                                       class="form-control" type="email">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Email Alternativo</label>
                            <div class="form-group">
                                <input name="dsEmailSecundario" ng-model="acesso.dsEmailSecundario"
                                       placeholder="Email Alternativo" class="form-control" type="email">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="required-label">Criar uma senha</label>
                            <div class="form-group">
                                <input name="password" ng-model="acesso.password"
                                       placeholder="Senha" class="form-control" type="password">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="required-label">Confirmar sua senha</label>
                            <div class="form-group">
                                <input name="passwordConfirm" ng-model="acesso.passwordConfirm"
                                       placeholder="Confirmar Senha" class="form-control" type="password">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Telefone Comercial</label>
                            <div class="form-group">
                                <input name="nuTelefoneComercial" ng-model="acesso.nuTelefoneComercial"
                                       placeholder="Telefone Comercial" class="form-control" type="text"
                                       ui-br-phone-number>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Celular</label>
                            <div class="form-group">
                                <input name="nuCelular" ng-model="acesso.nuCelular" placeholder="Celular"
                                       class="form-control" type="text" ui-br-phone-number>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="required-label">Presidente?</label>
                            <div class="form-group">
                                <select name="stPresidente"
                                        required="required"
                                        chosen="directiveOptions"
                                        data-placeholder="Selecione"
                                        ng-model="acesso.stPresidente" class="col-md-12 form-control" id="stPresidente"
                                        autocomplete="off">
                                    <option value="">Selecione</option>
                                    <option value="1">Sim</option>
                                    <option value="0">Não</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="required">CEP</label>
                            <div class="form-group">
                                <input name="nuCep" ng-model="acesso.nuCep" placeholder="CEP" class="form-control"
                                       type="text" ui-br-cep-mask>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="required-label">UF</label>
                            <div class="form-group">
                                <select name="coUf"
                                        required="required"
                                        chosen="directiveOptions"
                                        data-placeholder="Selecione a UF"
                                        ng-model="acesso.uf" class="col-md-12 form-control" id="coUf"
                                        ng-options="uf.noUf for uf in ufs track by uf.coUf"
                                        ng-change="setMunicipio(acesso.uf.sgUf)">
                                    <option value="">Selecione</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="required-label">Cidade</label>
                            <div class="form-group">
                                <select name="coMunicipio"
                                        required="required"
                                        chosen="directiveOptions"
                                        data-placeholder="Selecione a Cidade"
                                        ng-model="acesso.municipio" class="col-md-12 form-control" id="coMunicipio"
                                        ng-options="municipio.noMunicipio for municipio in municipios track by municipio.coMunicipio">
                                    <option value="">Selecione</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="required">Endereço</label>
                            <div class="form-group">
                                <input name="dsLogradouro" ng-model="acesso.dsLogradouro" placeholder="Endereço"
                                       class="form-control" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="required">Número</label>
                            <div class="form-group">
                                <input name="nuLogradouro" ng-model="acesso.nuLogradouro" placeholder="Número"
                                       class="form-control" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="required">Bairro</label>
                            <div class="form-group">
                                <input name="nuLogradouror" ng-model="acesso.noBairro" placeholder="Bairro"
                                       class="form-control" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="required">Complemento</label>
                            <div class="form-group">
                                <input name="dsComplemento" ng-model="acesso.dsComplemento" placeholder="Complemento"
                                       class="form-control" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="required-label">Empresa</label>
                            <div class="form-group">
                                <select name="coEmpresa"
                                        chosen="directiveOptions"
                                        data-placeholder="Selecione"
                                        ng-model="acesso.coEmpresa" class="col-md-12 form-control" id="coEmpresa"
                                        ng-options="empresa.noEmpresa for empresa in empresas track by empresa.coEmpresa">
                                        autocomplete="off">
                                    <option value="">Selecione</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group text-left col-md-12" style="margin-top: 15px;">
                        <div class="form-group">
                            <a href="/">
                                <button class="btn btn-default btn-success">
                                    <i class="glyphicon glyphicon-arrow-left"></i> Voltar
                                </button>
                            </a>
                            <button class="btn btn-default btn-primary" name='submit'
                                    ng-disabled="primeiroAcesso.$invalid" type="submit"><i
                                    class="glyphicon glyphicon-save"></i> Solicitar Acesso
                            </button>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="col-md-12">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer role="contentinfo">
    <p>&copy;2016 - AESBE - Associação Brasileira das Empresas Estaduais de Saneamento&reg;</p>
    <address>SCS - Quadra 01 - Bloco H - Edifício Morro Vermelho - 8º andar - CEP: 70399-900 - Brasília-DF - Tel/Fax.:
        55 61 3022-9600
    </address>
</footer>
</html>