<menusuperior></menusuperior>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-user fa-fw"></i>
                Moderar Acesso
            </div>

            <div class="panel-body">
                <div class="table-responsive col-lg-12">
                    <div class="col-lg-12">
                        <table datatable="" dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance"
                               class="table table-striped table-bordered" width="100%"></table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="modalVincularPerfil.html">
    <form id="vincularPerfil" class="form form-vincular-perfil"
          ng-submit="vincularPerfilSubmit(item)" name="vincularPerfil" method="post"
          novalidate="novalidate">
        <div class="modal-header">
            <h3 class="modal-title">Vincular Perfil</h3>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="idPerfil">Perfil</label>
                <select required="required" class="form-control" name="idPerfil"
                        ng-model="item.perfil" id="idPerfil"
                        ng-options="perfil.noPerfil for perfil in perfis track by perfil.coPerfil">
                    <option value="">Selecione</option>
                </select>
            </div>
        <div class="row alerts-container" data-ng-show="alerts.length">
            <div class="col-xs-12">
                <uib-alert data-ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
            </div>
        </div>
        <div class="modal-footer">
            <input type="submit" ng-disabled="vincularPerfil.$invalid" value="Vincular"
                   class="btn btn-default btn-primary" name="submit">
            <button class="btn btn-danger" type="button" ng-click="cancel()">Cancelar</button>
        </div>
    </form>
</script>

