<style type="text/css">
    .colum-not-padding-lef{
        padding-left: 0;
    }
    .colum-not-padding{
        padding: 0;
    }
    .form-group {
        margin-bottom: 7px;
    }
</style>


<menusuperior></menusuperior>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-money fa-fw"></i>
                Meus Preços
            </div>
            <div class="panel-body">
                <div>
                    <div class="col-lg-12">
                        <div class="col-md-offset-2 col-md-9">
                            <form id="registroPropostaMaterial" class="form form-registro-proposta-material" ng-submit="propostaFormularioSubmit(item)"
                                  name="registroPropostaMaterial" method="post" novalidate="novalidate" >
                                <legend>Registro de Preço de Material</legend>
                                <fieldset>
                                    <div class="form-group">
                                        <label class="required-label">Informe o Material</label>
                                        <div class="form-group">
                                            <input required="required" type="text" placeholder="Material" ng-model="item.coMaterial" uib-typeahead="itemMaterial as itemMaterial.name for itemMaterial in itensMaterial  | filter:$viewValue | limitTo:15" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Proposta</label>
                                        <div class="form-group">
                                            <select name="stProposta"
                                                    chosen="directiveOptions"
                                                    data-placeholder="Selecione"
                                                    ng-model="item.stProposta" class="col-md-12 form-control" id="stProposta"
                                                    autocomplete="off">
                                                <option value="">Selecione</option>
                                                <option value="NOVA">Nova</option>
                                                <option value="ORIGINAL">Original</option>
                                            </select>

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="required-label">Nome Fornecedor</label>
                                        <div class="form-group">
                                            <input required="required" type="text" placeholder="Nome Fornecedor" ng-model="item.noFornecedor" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="required-label">CNPJ Fornecedor</label>
                                        <div class="form-group">
                                            <input required="required" type="text" placeholder="CNPJ Fornecedor" ng-model="item.nuCnpj" ui-br-cnpj-mask class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6 colum-not-padding-lef">
                                        <label class="required-label">Preço Material</label>
                                        <div class="form-group">
                                            <input required="required" type="text" placeholder="Preço Material" ng-model="item.vlComImposto" class="form-control money" ui-money-mask="2">
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6 colum-not-padding">
                                        <label class="required-label">Quantidade</label>
                                        <div class="form-group">
                                            <input required="required" type="text" placeholder="Quantidade" ng-model="item.qtProduto" class="form-control" ui-number-mask="2">
                                        </div>
                                    </div>
                                    <div class="col-md-6 colum-not-padding-lef">
                                        <label class="required-label">Data da Proposta</label>
                                        <div my-datepicker model="item.dtProposta"
                                             datepicker-options="dateOptions" format="{{format}}" myid="dtProposta" myname="dtProposta">
                                        </div>
                                    </div>
                                    <label class="required-label">Data da Contratação</label>
                                    <div my-datepicker model="item.dtContratacao"
                                         datepicker-options="dateOptions" format="{{format}}" myid="dtContratacao" myname="dtContratacao">
                                    </div>
                                    <div class="col-md-6 colum-not-padding-lef">
                                        <label class="required-label">Data Vigência Contrato</label>
                                        <div my-datepicker model="item.dtVigenciaContrato"
                                             datepicker-options="dateOptions" format="{{format}}" myid="dtVigenciaContrato" myname="dtVigenciaContrato">
                                        </div>
                                    </div>
                                    <label class="required-label">Data da Informação</label>
                                    <div my-datepicker model="item.dtInformacao"
                                         datepicker-options="dateOptions" format="{{format}}" myid="dtInformacao" myname="dtInformacao">
                                    </div>
                                    <div class="form-group col-md-6 colum-not-padding-lef">
                                        <label class="required-label">Número Contrato</label>
                                        <div class="form-group">
                                            <input required="required" type="text" placeholder="Número Contrato" ng-model="item.nuContrato" class="form-control" ui-number-mask="0">
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6 colum-not-padding">
                                        <label class="required-label">Número Ata Registro de Preços</label>
                                        <div class="form-group">
                                            <input required="required" type="text" placeholder="Número Ata Registro de Preços" ng-model="item.nuAta" class="form-control" ui-number-mask="0">
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6 colum-not-padding-lef">
                                        <label class="required-label">Modalidade</label>
                                        <div class="form-group">
                                            <select name="coModalidade"
                                                    required="required"
                                                    chosen="directiveOptions"
                                                    data-placeholder="Selecione"
                                                    ng-model="item.coModalidade" class="col-md-12 form-control" id="coModalidade"
                                                    autocomplete="off">
                                                <option value="">Selecione</option>
                                                <option value="1">Pregão</option>
                                                <option value="2">Dispensa</option>
                                                <option value="3">Convite</option>
                                            </select>

                                        </div>
                                    </div>
                                    <div class="form-group col-md-6 colum-not-padding">
                                        <label class="required-label">FOB/CIF</label>
                                        <div class="form-group">
                                            <select name="stFobCif"
                                                    required="required"
                                                    chosen="directiveOptions"
                                                    data-placeholder="Selecione"
                                                    ng-model="item.stFobCif" class="col-md-12 form-control" id="stFobCif"
                                                    placeholder="FOB/CIF" autocomplete="off">
                                                <option value="">Selecione</option>
                                                <option value="FOB">FOB</option>
                                                <option value="CIF">CIF</option>
                                            </select>

                                        </div>
                                    </div>

                                    <div class="form-group col-md-6 colum-not-padding-lef">
                                        <label class="required-label">IPI (%)</label>
                                        <div class="form-group">
                                            <input type="text" required="required" class="form-control" ng-model="item.vlIpi" placeholder="IPI(%)" name="vlIpi" ui-number-mask="2">
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6 colum-not-padding">
                                        <label>ICMS (%)</label>
                                        <div class="form-group">
                                            <input type="text" class="form-control" ng-model="item.vlIcms" placeholder="ICMS(%)" name="vlIcms" ui-number-mask="2">
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6 colum-not-padding-lef">
                                        <label>ISS (%)</label>
                                        <div class="form-group">
                                            <input type="text" class="form-control" ng-model="item.vlIss" placeholder="ISS(%)" name="vlIss" ui-number-mask="2">
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6 colum-not-padding">
                                        <label class="required-label">Condições de Pagamento (dias)</label>
                                        <div class="form-group">
                                            <input type="text" required="required" placeholder="Condições de Pagamento" ng-model="item.qtDiasPagamento" class="form-control" ui-number-mask="0">
                                        </div>
                                    </div>

                                    <div class="form-group col-md-6 colum-not-padding-lef">
                                        <label class="required-label">Condições de Fornecimento</label>
                                        <div class="form-group">
                                            <select name="stCondicaoFornecimento"
                                                    chosen="directiveOptions"
                                                    required="required"
                                                    data-placeholder="Selecione"
                                                    ng-model="item.stCondicaoFornecimento" class="col-md-12 form-control" id="stCondicaoFornecimento"
                                                    placeholder="Condições de Fornecimento" autocomplete="off">
                                                <option value="">Selecione</option>
                                                <option value="PARCELADO">PARCELADO</option>
                                                <option value="UNICA">ÚNICA</option>
                                            </select>

                                        </div>
                                    </div>
                                    <div class="form-group col-md-6 colum-not-padding">
                                        <label class="required-label">Tipo de Inspeção</label>
                                        <div class="form-group">
                                            <select name="tpInspecao"
                                                    required="required"
                                                    chosen="directiveOptions"
                                                    data-placeholder="Selecione"
                                                    ng-model="item.tpInspecao" class="col-md-12 form-control" id="tpInspecao"
                                                    placeholder="Tipo de Inspeção" autocomplete="off">
                                                <option value="">Selecione</option>
                                                <option value="FABRICA">FÁBRICA</option>
                                                <option value="RECEBIMENTO">RECEBIMENTO</option>
                                            </select>

                                        </div>
                                    </div>
                                    <div class="form-group col-md-6 colum-not-padding-lef">
                                        <label class="required-label">Nível de Atendimento</label>
                                        <div class="form-group">
                                            <select name="stNivelAtendimento"
                                                    chosen="directiveOptions"
                                                    required="required"
                                                    data-placeholder="Selecione"
                                                    ng-model="item.stNivelAtendimento" class="col-md-12 form-control" id="stNivelAtendimento"
                                                    placeholder="Nível de Atendimento" autocomplete="off">
                                                <option value="">Selecione</option>
                                                <option value="VERDE">VERDE</option>
                                                <option value="AMARELO">AMARELO</option>
                                                <option value="VERMELHO">VERMELHO</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6 colum-not-padding">
                                        <label class="required-label">Especificação Padrão</label>
                                        <div class="form-group">
                                            <select name="stEspecificacaoPadrao"
                                                    chosen="directiveOptions"
                                                    required="required"
                                                    data-placeholder="Selecione"
                                                    ng-model="item.stEspecificacaoPadrao" class="col-md-12 form-control" id="stEspecificacaoPadrao"
                                                    placeholder="Especificação Padrão" autocomplete="off">
                                                <option value="">Selecione</option>
                                                <option value="S">SIM</option>
                                                <option value="N">NÃO</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label ng-class="{'required-label': item.stEspecificacaoPadrao == 'N'}">Observações</label>
                                        <div class="form-group">
                                            <textarea ng-required="item.stEspecificacaoPadrao == 'N'" class="form-control" ng-model="item.dsObservacao" placeholder="Observações" name="dsObservacao"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label></label>
                                        <div class="form-group text-right">
                                            <a ui-sref="bancoPreco.propostaMaterialListar">
                                                <button class="btn btn-default btn-success">
                                                    <i class="glyphicon glyphicon-arrow-left"></i> Voltar
                                                </button>
                                            </a>
                                            <button class="btn btn-default btn-primary" name='submit' ng-disabled="registroPropostaMaterial.$invalid" type="submit"><i class="glyphicon glyphicon-save"></i> Salvar</button>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>