<style type="text/css">
    #tableErros {
        height: 400px;
    }
    .campoErro {
        color: red;
        font-weight: bolder;
    }
</style>
<menusuperior></menusuperior>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-upload fa-fw"></i>
                Importar Planilha de Material
            </div>

            <div class="panel-body">
                <div>
                    <div class="col-lg-8" style="margin-left: 20%">
                        <form id="registroCaixa" class="form form-registro-caixa" ng-submit="registroCaixaSubmit(item)"
                              name="registroCaixa" method="post" novalidate="novalidate">
                            <legend>Banco de Preços de Material</legend>
                            <fieldset>
                                <div class="form-group col-lg-12">
                                    <div class="form-group">
                                        <p style="text-align: justify;">
                                            Com esta funcionalidade a Companhia poderá informar por lote os preços dos
                                            materias.
                                        </p>
                                        <div class="col-lg-6">
                                            <a class="btn btn-primary" href="{{baseRest}}/banco-preco/modelo-arquivo-proposta"><i
                                                    class="glyphicon glyphicon-cloud-download"></i>&nbsp;&nbsp;Modelo do
                                                arquivo para importação</a>
                                        </div>
                                        <div class="col-lg-6">
                                            <label>
                                                <span class="btn btn-success" ng-click="removerErros()"><i
                                                        class="glyphicon glyphicon-cloud-upload"></i>&nbsp;&nbsp;Selecionar arquivo</span>
                                                <input type="file" nv-file-select uploader="uploader" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" runat="server"
                                                       style="visibility: hidden;"/>
                                            </label>
                                        </div>

                                    </div>
                                </div>
                                <div class="input-group form-group col-lg-12" data-ng-show="uploader.queue.length > 0">
                                    <div class="col-md-12">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th width="50%">Nome</th>
                                                <th ng-show="uploader.isHTML5">Tamanho</th>
                                                <th ng-show="uploader.isHTML5">Progresso</th>
                                                <th>Status</th>
                                                <th>Ações</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="item in uploader.queue">
                                                <td><strong>{{ item.file.name }}</strong></td>
                                                <td ng-show="uploader.isHTML5" nowrap>{{
                                                    item.file.size/1024/1024|number:2 }} MB
                                                </td>
                                                <td ng-show="uploader.isHTML5">
                                                    <div class="progress" style="margin-bottom: 0;">
                                                        <div class="progress-bar" role="progressbar"
                                                             ng-style="{ 'width': item.progress + '%' }"></div>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <div ng-show="!complete"><img src="img/spinner.gif"></div>
                                                    <span ng-show="item.isSuccess"><i
                                                            class="glyphicon glyphicon-ok"></i></span>
                                                    <span ng-show="item.isCancel"><i
                                                            class="glyphicon glyphicon-ban-circle"></i></span>
                                                    <span ng-show="item.isError">
                                                            <i class="glyphicon glyphicon-remove"></i>
                                                    </span>
                                                </td>
                                                <td nowrap>
                                                    <button type="button" class="btn btn-success btn-xs"
                                                            ng-click="item.upload()"
                                                            ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                                        <span class="glyphicon glyphicon-upload"></span> Importar
                                                    </button>
                                                    <button type="button" class="btn btn-danger btn-xs"
                                                            ng-click="item.remove()">
                                                        <span class="glyphicon glyphicon-trash"></span> Remover
                                                    </button>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <table ng-show="erros.length > 0" class="table table-bordered" id="tableErros" fixed-header>
                                                <thead>
                                                    <tr>
                                                        <th>Linha</th>
                                                        <th>Material</th>
                                                        <th>Observação</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr data-ng-repeat="erro in erros">
                                                        <td>{{erro.linha}}</td>
                                                        <td>{{erro.conteudo}}</td>
                                                        <td ng-bind-html="erro.observacao">{{erro.observacao}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                    </div>
                                </div>
                            </fieldset>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
