<menusuperior></menusuperior>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-upload fa-fw"></i>
                Lista de Arquivos Importados
            </div>

            <div class="panel-body">
                <div class="table-responsive col-lg-12">
                    <div class="col-lg-12">
                        <table datatable="" dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance"
                               class="table table-striped table-bordered" width="100%"></table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
