<style type="text/css">
    td.details-control {
        cursor: pointer;
    }

    tr.odd td.details-control:after, tr.even td.details-control:after {
        font-family: 'Glyphicons Halflings';
        content: "\e081";
    }

    tr.shown td.details-control:after {
        font-family: 'Glyphicons Halflings';
        content: "\e082";
    }
    .label-preco {
        display: block !important;
        float: left;
        width: 150px;
        text-align: right;
        margin-right: 7px;
        margin-bottom: 10px;
    }
    .span-preco {
        display: block !important;
        float: left;
        width: 450px;
        margin-bottom: 10px;
    }
</style>

<menusuperior></menusuperior>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-search fa-fw"></i>
                Preço Material Cadastrado
            </div>

            <div class="panel-body">
                <div>
                    <div class="col-lg-12">
                        <a style="float: right; margin-bottom: 2%;" ui-sref="bancoPreco.propostaMaterialFormulario">
                            <button class="btn btn-default btn-primary">
                                <i class="glyphicon glyphicon-new-window"></i> Cadastrar
                            </button>
                        </a>
                        <div class="table-responsive col-lg-12">
                            <div class="col-lg-12">
                                <table datatable="" dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance"
                                       class="table table-striped table-bordered" width="100%"></table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="modalExcluirPropostaDados.html">
    <div class="modal-body">
        <p style="font-size: 15px;">Deseja excluir este registro?</p>
    </div>
    <div class="modal-footer">
        <button type="button" ng-click="excluirPropostaDados()" class="btn btn-primary">Sim</button>
        <button type="button" ng-click="cancel()" class="btn btn-danger">Não</button>
    </div>
</script>
