<style type="text/css">
    td.details-control {
        cursor: pointer;
    }

    tr.odd td.details-control:after, tr.even td.details-control:after {
        font-family: 'Glyphicons Halflings';
        content: "\e081";
    }

    tr.shown td.details-control:after {
        font-family: 'Glyphicons Halflings';
        content: "\e082";
    }
    .label-preco {
        display: block !important;
        float: left;
        width: 150px;
        text-align: right;
        margin-right: 7px;
        margin-bottom: 10px;
    }
    .span-preco {
        display: block !important;
        float: left;
        width: 450px;
        margin-bottom: 10px;
    }
</style>

<menusuperior></menusuperior>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-search fa-fw"></i>
                Pesquisar Preço
            </div>

            <div class="panel-body">
                <div>
                    <div class="col-lg-12">
                        <div class="col-md-offset-2 col-md-9">
                            <form id="propostaMaterial" class="form form-proposta-material"
                                  ng-submit="pesquisarMaterial(item)"
                                  name="registroCaixa" method="post" novalidate="novalidate">
                                <legend>Pesquisar Preço de Material</legend>
                                <fieldset>
                                    <div class="form-group">
                                        <div class="col-md-6 col-xs-12" style="padding-left: 0">
                                            <label class="required-label">Material</label>
                                            <div class="form-group">
                                                <input type="text" value="" required="required" class="form-control"
                                                       ng-model="item.search" placeholder="Material"
                                                       name="search">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-xs-12" style="padding-left: 0; padding-right: 0;">
                                            <label>Período</label>
                                            <div class="form-group">
                                                <select name="periodo"
                                                        chosen="directiveOptions"
                                                        data-placeholder="Selecione"
                                                        ng-change="periodoPersonalizado(item.periodo)"
                                                        ng-model="item.periodo" class="col-md-12 form-control" id="periodo"
                                                        autocomplete="off">
                                                    <option value="">Selecione</option>
                                                    <option value="30">Últimos 30 dias</option>
                                                    <option value="60">Últimos 60 dias</option>
                                                    <option value="90">Últimos 90 dias</option>
                                                    <option value="180">Últimos 180 dias</option>
                                                    <option value="1">Último ano</option>
                                                    <option value="2">Últimos 2 anos</option>
                                                    <option value="P" >Período Personalizado</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-show="stPeriodoPersonalizado">
                                        <div class="col-md-6 col-xs-12" style="padding-left: 0">
                                            <label>Início</label>
                                            <div class="form-group">
                                                <div my-datepicker model="item.dtInicio"
                                                datepicker-options="dateOptions" format="{{format}}"
                                                     myid="dtInicio" myname="dtInicio" myrequired="false" >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-xs-12" style="padding-left: 0; padding-right: 0;">
                                            <label>Fim</label>
                                            <div class="form-group">
                                                <div class="form-group">
                                                    <div my-datepicker model="item.dtFim"
                                                         datepicker-options="dateOptions" format="{{format}}"
                                                         myid="dtFim" myname="dtFim" myrequired="false">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-6 col-xs-12" style="padding-left: 0">
                                            <label>Código AESBE</label>
                                            <div class="form-group">
                                                <input type="text" value="" class="form-control"
                                                       ng-model="item.coMaterial" placeholder="Código AESBE"
                                                       name="coMaterial" ui-number-mask="0">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-xs-12" style="padding-left: 0; padding-right: 0;">
                                            <label>Código SABESP</label>
                                            <div class="form-group">
                                                <input type="text" value="" class="form-control"
                                                       ng-model="item.nuSabesp" placeholder="Código SABESP"
                                                       name="nuSabesp" ui-number-mask="0">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Empresa</label>
                                        <div class="form-group">
                                            <select name="coEmpresa"
                                                    chosen="directiveOptions"
                                                    data-placeholder="Selecione"
                                                    ng-model="item.coEmpresa" class="col-md-12 form-control" id="coEmpresa"
                                                    ng-options="empresa.noEmpresa for empresa in empresas track by empresa.coEmpresa">
                                                autocomplete="off">
                                                <option value="">Selecione</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-group text-right">
                                            <button class="btn btn-default btn-success" name='submit'
                                                    ng-disabled="registroCaixa.$invalid || ngPagamentos" type="submit">
                                                <i class="glyphicon glyphicon-search"></i> Pesquisar
                                            </button>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                        <div class="table-responsive col-lg-12" ng-show="pesquisa">
                            <div class="text-right" style="margin-right: 8.6%;" data-ng-show="dadosPesquisa.length">
                                <button class="btn btn-default btn-primary" ng-click="exportar(item)">
                                    <i class="glyphicon glyphicon-download"></i> Exportar Excel
                                </button>
                                <button class="btn btn-default btn-warning" ng-click="open()">
                                    <i class="glyphicon glyphicon-envelope"></i> Enviar e-mail
                                </button>
                                <button class="btn btn-default btn-primary" print-btn>
                                    <i class="glyphicon glyphicon-print"></i> Imprimir
                                </button>
                            </div>
                            <div class="col-lg-12">
                                <table datatable="" dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance"
                                       class="table table-striped table-bordered" width="100%"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div print-section print-only style="width: 90%; height: 65%; position: absolute; top: 0; left: 20px; padding: 50px 30px;">
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Código Aesbe</th>
            <th>Nome Básico</th>
            <th>Preço</th>
            <th>Quantidade</th>
            <th>Data Informação</th>
        </tr>
        </thead>
        <tbody ng-repeat="dataItem in dataSearch">
        <tr>
            <td>{{dataItem.co_material}}</td>
            <td>{{dataItem.noBasico}}</td>
            <td>R$ {{dataItem.vl_com_imposto | currency:"R$":4}}</td>
            <td>{{dataItem.qt_produto | number}}</td>
            <td>{{dataItem.dt_informacao | date:"dd/MM/yyyy"}}</td>
        </tr>
        </tbody>
    </table>
</div>
<script type="text/ng-template" id="modalEnviarEmailRelatorio.html">
    <form id="formEnviarEmailRelatorio" class="form form-registro-caixa"
          ng-submit="eviarEmailRelatorioSubmit(multiEmail.emailSelecionado)" name="enviarEmailRelatorio" method="post"
          novalidate="novalidate">
        <div class="modal-header">
            <h3 class="modal-title">Enviar Relatório por E-mail</h3>
        </div>
        <div class="modal-body">
            <ui-select multiple tagging="tagTransform" tagging-tokens="SPACE|,|/" ng-model="multiEmail.emailSelecionado" theme="bootstrap" ng-disabled="disabled">
                <ui-select-match placeholder="Para...">{{$item.name}} &lt;{{$item.email}}&gt;</ui-select-match>
                <ui-select-choices repeat="person in people | propsFilter: {name: $select.search}">
                    <div ng-if="person.isTag" ng-bind-html="person.name + ' ' + $select.taggingLabel | highlight: $select.search"></div>
                    <div ng-if="!person.isTag" ng-bind-html="person.name| highlight: $select.search"></div>
                    <small>
                        email: {{person.email}}
                    </small>
                </ui-select-choices>
            </ui-select>
        <div class="modal-footer">
            <input type="submit" ng-disabled="formEnviarEmailRelatorio.$invalid" value="Enviar"
                   class="btn btn-default btn-primary" name="submit">
            <button class="btn btn-danger" type="button" ng-click="cancel()">Sair</button>
        </div>
    </form>
</script>