<menusuperior></menusuperior>
<div ng-controller="FornecedorPrincipalCtrl as vm">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa- fa-fw"></i>
                    Fornecedores
                </div>

                <div class="panel-body">
                        <table datatable="" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="table table-striped table-bordered" width="100%">
                            <thead>
                                <tr>
                                    <th>CNPJ</th>
                                    <th>Razão social</th>
                                    <th>Representante</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="fornecedor in fornecedores">
                                    <td>{{fornecedor.nuCnpj}}</td>
                                    <td>{{fornecedor.noFornecedor}}</td>
                                    <td>{{fornecedor.noRepresentante}}</td>
                                </tr>
                            </tbody>
                        </table>
                </div>
            </div>
        </div>
    </div>
</div>

