<div class="row">
    <nav class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">

            <button type="button" class="navbar-toggle" ng-init="navCollapsed = true"
                    ng-click="navCollapsed = !navCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--<a class="navbar-brand" href="#">Menu</a>-->
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <!--<div ng-repeat="(indexX,object) in menuSuperior">-->
            <!--<a href="#" uib-dropdown-toggle>{{object.noAgrupador}}<b class="caret"></b></a>-->
            <!--<div ng-repeat="(indexY,value) in object.menus">-->
                    <!--{{indexX}} - {{indexY}} - {{value.noFuncionalidadeVisivel}}-->
            <!--</div>-->
        <!--</div>-->
        <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">
            <ul class="nav navbar-nav">
                <li uib-dropdown ng-repeat="(indexX,object) in menuSuperior()">
                    <a href="#" uib-dropdown-toggle>{{object.noAgrupador}}<b class="caret"></b></a>
                        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="{{indexX}}">
                            <li role="menuitem" ng-repeat="(indexY,value) in object.menus"><a ui-sref="{{value.noFuncionalidade}}">{{value.noFuncionalidadeVisivel}}</a></li>
                        </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</div>