<menusuperior></menusuperior>
<div ng-controller="MaterialPrincipalCtrl as vm">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa- fa-fw"></i>
                    Material
                </div>

                <div class="panel-body">
                        <table datatable="ng" ng-cloak dt-options="vm.dtOptions" dt-column-defs="vm.dtColumnDefs" class="table table-striped table-bordered">
                            <thead>
                            <tr>
                                <th>Codigo Sabesp</th>
                                <th>Nome Basico</th>
                                <th>Descriçao</th>
                                <th>Especificaçao de Serie</th>
                                <th>Especificaçao de Classe</th>
                                <th>Açao</th>
                            </tr>
                            </thead>
                            <tbody ng-hide="loading">
                            <tr ng-repeat="registro in vm.registros">
                                <td>{{registro.nuSabesp}}</td>
                                <td>{{registro.noBasico}}</td>
                                <td>{{registro.noDescricao}}</td>
                                <td>{{registro.dsEspSerie}}</td>

                                <!--<td>{{registro.dsEspClasse}}</td>-->
                                <td ng-if="registro.dsEspClasse">
                                    <button uib-popover="{{registro.dsEspClasse}}" popover-append-to-body="true" popover-trigger="mouseenter" type="button" class="btn btn-default">Detalhar</button>
                                </td>
                                <td ng-if="!registro.dsEspClasse">
                                </td>
                                <td>Editar/Excluir</td>
                            </tr>
                            </tbody>
                        </table>
                </div>
            </div>
        </div>
    </div>
</div>

