<div class="row">
    <nav class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">

            <button type="button" class="navbar-toggle" ng-init="navCollapsed = true"
                    ng-click="navCollapsed = !navCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--<a class="navbar-brand" href="#">Menu</a>-->
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">
            <ul class="nav navbar-nav">
                <li uib-dropdown>
                    <a id="proposta" href="#" uib-dropdown-toggle>Banco de Preços de Material <b class="caret"></b></a>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="proposta">
                        <li role="menuitem" style="color: white!important;"><a
                                ui-sref="bancoPreco.propostaMaterialPrincipal">Pesquisar</a></li>
                        <li class="divider"></li>
                        <li role="menuitem"><a ui-sref="bancoPreco.propostaMaterialImportarDados">Importar Planilha de
                            Materiais</a></li>
                    </ul>
                </li>
                <li uib-dropdown>
                    <a id="material" href="#" uib-dropdown-toggle>Material <b class="caret"></b></a>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="material">
                        <li role="menuitem"><a ui-sref="bancoPreco.materialPrincipal">Listar</a></li>
                    </ul>
                </li>
                <li uib-dropdown>
                    <a id="fornecedor" href="#" uib-dropdown-toggle>Fornecedor <b class="caret"></b></a>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="fornecedor">
                        <li role="menuitem"><a ui-sref="bancoPreco.materialPrincipal">Listar</a></li>
                    </ul>
                </li>

            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</div>
